<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Add Customer details</title>
</head>

<body class="container">
<h1 ><bold>Customer Registration</bold></h1><br><br>
<form th:action="@{/customer/saveCustomer}" th:object="${customer}" method="post" class="form needs-validation form-horizontal">
<div class="form-group ">
<label class="control-label col-sm-2"  for="cust_id">Customer Id</label>
<div class="col-sm-5 input-group input-group-lg"> 
<input class="form-control" type="text" th:field="*{custId}" id="custId" placeholder="Customer Id">
        <div  th:if="${#fields.hasErrors('custId')}" th:errors="*{custId}"></div> 
</div>
</div>
<div class="form-group ">
<label class="control-label col-sm-2"  for="first_name">First Name</label>
<div class="col-sm-5 input-group input-group-lg"> 
<input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <div  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div> 
</div>
</div>
<div class="form-group ">
<label class="control-label col-sm-2" for="last_name">Last Name </label>
<div class="col-sm-5 input-group input-group-lg"> 
<input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

</div>
</div>

<div class="form-group ">
<label class="control-label col-sm-2" for="email">Email </label>
<div class="col-sm-5 input-group input-group-lg"> 
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input class="form-control " type="email" th:field="*{email}" id="email" placeholder="Email">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
</div>
</div>

<div class="form-group ">
<label class="control-label col-sm-2" for="password">Password </label>
<div class="col-sm-5 input-group input-group-lg"> 
<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input class="form-control " type="password" th:field="*{password}" id="password" placeholder="Password">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
</div>
</div>


<div class="form-group ">
<label class="control-label col-sm-2"for="mobile_no">Contact No</label>
<div class="col-sm-5 input-group input-group-lg"> 
<input class="form-control" type="tel" th:field="*{mobileNo}" id="mobileNo" placeholder="Contact No.">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}"></div>

</div>
</div>
<center>
<input type="submit"  class="btn btn-primary mb-3" value="Add Customer">
    
   <!--   <a th:href="@{/admin/getCustomers}" class="btn btn-primary btn-md mb-3 float-right"> Customer List</a>     -->
    
    </li></center>
</form>




</body>
</html>