<!DOCTYPE html>
<html  xmlns:th="http://www.thymleaf.org">
<head th:insert="fragments :: pageHeader">
<meta charset="ISO-8859-1">

<title>Inventory Management System</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>

<body>
<div th:replace="fragments :: menu"></div>
<div class="container-fluid text-center">
 <div class="row content">
	<div class="container my-2">
	<h1 class="text-primary">Inventory Management </h1>
	<h5><a href="/logout" style="float : right;">Logout</a></h5>
	<form name="logout form" th:action="@{/logout}" method="post" th:hidden="true">
	<input hidden type="submit" value="Logout" />
	</form>
	<div class="row">
	  <div class="col-sm-3 ">
	  
	  <ul class="nav navbar-dark bg-dark">
	  <li class="nav-item"><a  th:href = "@{/customer/registration}" class=" nav-link btn btn-md mb-3 "> Add New Customer </a></li>
	  <li class="nav-item"><a  th:href = "@{/admin/getCustomers}" class=" nav-link btn  btn-md mb-3"> Customer List</a></li>
	  <li class="nav-item"><a  th:href = "@{/admin/productRegister}" class=" nav-link btn btn-md mb-3 "> Add New Product </a></li>
	  <li class="nav-item"><a  th:href = "@{/customer/getProducts}" class=" nav-link btn  btn-md mb-3"> Product List</a></li>
	  <li class="nav-item"><a  th:href = "@{/admin/orderRegister}" class=" nav-link btn btn-md mb-3 "> Add New Order </a></li>
	  <li class="nav-item"><a  th:href = "@{/customer/getOrders}" class=" nav-link btn  btn-md mb-3"> Order List</a></li>
	  <li class="nav-item"><a  th:href = "@{/admin/stockRegister}" class=" nav-link btn btn-md mb-3 "> Add New Stock Item </a></li>
	  <li class="nav-item"><a  th:href = "@{/customer/getStocks}" class=" nav-link btn  btn-md mb-3"> Stock List</a></li>
	  <li class="nav-item"><a  th:href = "@{/admin/supplierRegister}" class=" nav-link btn btn-md mb-3 "> Add New Supplier </a></li>
	  <li class="nav-item"><a  th:href = "@{/customer/getSuppliers}" class=" nav-link btn  btn-md mb-3"> Supplier List</a></li>
	  </ul>
	  </div>
	  <div class="col-sm-9">
	  </div>
	</div>
	
</div>
</body>	
</body>
</html>